<app-add-movie-form [isEdit]="isEdit" [currrentMovie]= "currrentMovie"></app-add-movie-form>
<p style="text-align: center; font-size: 30px; color: green;">Movies database </p>
   <table class="table table table-sm table-bordered" style="color: rgb(50, 117, 205);">
       <thead style="color: rgb(50, 117, 205);">
         <tr style="background-color: yellowgreen;">
           <th scope="col">MOVIE ID</th>
           <th scope="col">TITLE</th>
           <th scope="col">DESCRIPTION</th>
           <th scope="col">RELEASE</th>
           <th scope="col">GENRE</th>
           <th scope="col">DATE CREATED</th>
           <th scope="col">DATE APDATED</th>
           <th scope="col">DELETE</th>
           <th scope="col">APDATE</th>
         </tr> 
       </thead>
       <tbody style="text-align: justify;">
         <tr *ngFor="let movie of movie">
           
           <td style="text-align: center;">{{movie.m_id}}</td>
           <td>{{movie.m_title}}</td>
           <td>{{movie.m_description}}</td>
           <td>{{movie.m_release}}</td>
           <td>{{movie.m_genre}}</td>
           <td>{{movie.m_created_at}}</td>
           <td>{{movie.m_apdated_at}}</td>
           <td><button (click)="deleteMovie(movie);" style="color: red;">Delete</button></td>
			     <td><button (click)="editMovie(movie)" class="btn btn-danger"> Edit </button></td>
         </tr>
        
       </tbody>
     </table>