<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Icep Homepage</title>
    <style>
        body{
          background-image: url("assets/images/back.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
</head>
<body>
    <header>

<div class="welcome-text">
        <h1>
At ICEP We are <span>Creative</span></h1>
<a href="signup">SignUp</a>
<a href="adlog">Admin</a>
<a href="vacancies">Vacancies</a>
    </div>
</header>

</body>
</html>

