
    <head>
       
    </head>
  
    <title>Dashboard</title>
    <style>
        body{
          background-image: url("assets/images/back.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style> 

<body >
    <section class="overlay">
        <div class="regform">
            <div class="logoI"><img src="assets\images\ICEP-Logo.png"></div>
        
            <h1>Openned Vacancies</h1>
            <hr>
            <h2>Posted Vacancies</h2>
            <hr>
            <table class="table table table-sm table-bordered" style="color: rgb(50, 117, 205);">
                <thead style="color: rgb(50, 117, 205);">
                  <tr style="background-color: yellowgreen;">

                   
         
                  </tr> 
                </thead>
                <tbody style="text-align: justify; background-color: rgb(242, 243, 241);">
                  <tr *ngFor="let posts of post">
                    
                    <td  style="text-align: center;"> <b> {{posts.vacancyName}}: </b>    <br> Posted on : {{posts.datePosted}}  <br> job desc: {{posts.vacancyDesc}}</td>
                    <td></td>
             
                  </tr>
                 
                </tbody>
              </table>

           <p> &copy; all rights reserved</p>

           

           


        </div> 
    </section>
</body>