    <p style="text-align: center; font-size: 30px; color: green; ">Movies Database management</p>
  <hr>
  <form>
  
    <h2>Add a movie</h2>
    <div class="form-group" style="font-weight: bolder;">
      <label for="inputAddress">Title</label>
      <input type="text" class="form-control" [(ngModel)]="currrentMovie.m_title" id="m_title" name= "m_title" placeholder="Enter Title" required #m_title>
    </div>
    <div class="form-group" style="font-weight: bolder;">
      <label for="inputAddress2">Description</label>
      <input type="text" class="form-control" [(ngModel)]="currrentMovie.m_description" id="m_description" name= "m_description" placeholder="Enter Description" required #m_description>
    </div>
    <div class="form-row" style="font-weight: bolder;">
      <div class="form-group col-md-6"> 
        <label for="inputCity">date release</label>
        <input type="date" class="form-control" [(ngModel)]="currrentMovie.m_release" id="m_release" name= "m_release" required #m_release>
      </div>
      <div class="form-group col-md-4" style="font-weight: bolder;">
        <label for="inputState">Genre</label>
        <select id="m_genre" name= "m_genre" class="form-select" [(ngModel)]="currrentMovie.m_genre" required style="font-size: 20px" #m_genre>
          <option value="Action">Action</option>
          <option value="Horror">Horror</option>
          <option value="Romance">Romance</option>
          <option value="Comedy">Comedy</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <input type="hidden" [(ngModel)]="currrentMovie.m_id" name="m_id">
  
    <button *ngIf="!isEdit" (click)="addMovie(m_title.value, m_description.value, m_release.value, m_genre.value)" type="submit" class="btn btn-primary" style="padding: 20px 60px;">Add movie</button>
    <button *ngIf="isEdit" (click)="updateMovie()" type="submit" class="btn btn-warning">Update Movie</button>
  </form>
  <hr>
