
    <head>
       
    </head>
  
    <title>Dashboard</title>
    <style>
        body{
          background-image: url("assets/images/back.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style> 

<body >
    <div class="navigation">
        <ul>
            <li>
                <a [routerLink]="'/admin'">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/profiles'">
                    <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <span class="title">View Profiles</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'/applications'">
                    <span class="icon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
                    <span class="title">View Application</span>
                </a>
            </li>
          
            <li>
                <a href="index.html">
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title">Sign out</span>
                </a>
            </li>


        </ul>
    </div>
    <section class="overlay">
        <div class="regform">
            <div class="logoI"><img src="assets\images\ICEP-Logo.png"></div>
        
            <h1>Applicants Profiles</h1>
   <table class="table table table-sm table-bordered" style="color: rgb(50, 117, 205);">
       <thead style="color: rgb(50, 117, 205);">
         <tr style="background-color: yellowgreen;">
            <th scope="col">Applicant ID</th>
           <th scope="col">firstName</th>
           <th scope="col">Surname</th>
           <th scope="col">DESCRIPTION</th>

         </tr> 
       </thead>
       <tbody style="text-align: justify;">
         <tr *ngFor="let applicant of applicant">
           
           <td style="text-align: center;">{{applicant.applicantId}}</td>
           <td>{{applicant.firstName}}</td>
           <td>{{applicant.lastName}}</td>
           <td>{{applicant.email}}</td>
    
         </tr>
        
       </tbody>
     </table>
    
            <hr>
           <p> &copy; all rights reserved</p>

           

           


        </div> 
    </section>
</body>